<div class="main-content">
    <div class="right-content">
        <p>
            <b>SCORING:</b> Of the 18 players/defenses on your team, the following players are scored each week:
            The top 2 QB’s, top 3 RBs & 3 WRs, and your 1 top kicker and 1 top defense.
        </p>

        <p>
            <b>MONEY:</b> The weekly high score winners get $20. In addition, the highest one week score will get $40 and the CFL season total points leader will now get $40.
            The Top 5 teams win money. 1st 30%, 2nd 20%, 3rd 12%, 4th 8%, 5th 6%.
            The three division winners win money (8-8-8%).
        </p>

        <p>
            <b>TIEBREAKERS:</b> In the event of a tie game, the winner will be determined by tallying the top score at each position.
        </p>
    </div>
    <div class="left-content">
        <div class="header">RULES</div>
        <table border="1" style="margin:auto">
            <tr>
            <td>
                <b>QB Passing Yards</b>
            </td>
            <td>
                <b>Rushing</b>
            </td>
            <td>
                <b>Receiving</b>
            </td>
            <td>
                <b>Kicking</b>
            </td>
            <td>
                <b>Def. Points Allowed</b>
            </td>
            </tr>
            <tr>
            <td>100-149... 5 pts</td>
            <td>25-49... 5 pts</td>
            <td>25-49... 5 pts</td>
            <td>FG 50+... 5 pts</td>
            <td>0 pts = 15 pts</td>
            </tr>
            <tr>
            <td>150-199... 7 pts</td>
            <td>50-74... 7 pts</td>
            <td>50-99... 8 pts</td>
            <td>FG 40-49... 4 pts</td>
            <td>1 to 10 pts = 5 pts</td>
            </tr>
            <tr>
            <td>200-249... 10 pts</td>
            <td>75-99... 9 pts</td>
            <td>100-29.. 12 pts</td>
            <td>Other FG.. 3 pts</td>
            <td>11 to 20 pts = 3 pts</td>
            </tr>
            <tr>
            <td>250-300... 13 pts</td>
            <td>100-29.. 12 pts</td>
            <td>130-59.. 15 pts</td>
            <td>PAT....... 1 pt</td>
            <td>21 to 30 pts = 0 pts</td>
            </tr>
            <tr>
            <td>300-349... 16 pts</td>
            <td>130-59.. 15 pts</td>
            <td>160-99.. 18 pts</td>
            <td></td>
            <td>31 and Over = -5</td>
            </tr>
            <tr>
            <td>350-399... 20 pts</td>
            <td>160-99.. 20 pts</td>
            <td>200-29.. 21 pts</td>
            <td colspan="2">
                <i>2 pt conv. is 2 points for each player!</i>
            </td>
            </tr>
            <tr>
            <td>400-UP.... 26 pts</td>
            <td>200-UP.. 28 pts</td>
            <td>230-59.. 25 pts</td>
            <td colspan="2">Punt/Kick Return for TD = 20 pts</td>
            </tr>
            <tr>
            <td>
                TDs=6 pts
                <br />Int’s= -2pts
            </td>
            <td>
                TDs=8,
                <br />40+=14 pts
            </td>
            <td>
                TDs=8,
                <br />50+=14pts
            </td>
            <td>
                Safety=6pts
                <br />Int=3pts
            </td>
            <td>Defensive TD=6pts</td>
            </tr>
            <tr>
            <td
                colspan="5"
            >Bonus points are awarded for high yardage totals. Plus one point for every 10 yards over 400 yards passing, 200 yards rushing, or 250 yards receiving.</td>
            </tr>
        </table>
    </div>
</div>
