<div class="whole-app">
    <floater></floater>
    <div class="phone-nav">
        <phone-nav></phone-nav>
    </div>
    <nav-bar-float></nav-bar-float>
    <cfl-schedule></cfl-schedule>
    <login-bar></login-bar>
    <div class="nav-content-wrapper">
        <div class="nav-bar">
            <div class="logo">
                CFL 2022
            </div>
            <nav-bar></nav-bar>
        </div>
        <div class="main-content-outlet">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>