<div class="main-content">
    <div class="left-content">
        <div class="header">
            Password Reset Form
        </div>
        <div class="msg">{{ msg }}</div>
        <div class="reset-form" *ngIf="showForm">
            <div class="filter-section">
                <span class="input">
                    <input matInput type="text" [(ngModel)]="username" (change)="checkValidity()">
                </span>
                <div>Username</div>
            </div>
            <div class="filter-section">
                <span class="input">
                    <input matInput [type]="(hide.new) ? 'password' : 'text'" [(ngModel)]="password.new" (change)="checkValidity()">
                    <mat-icon (click)="hide.new = !hide.new">{{hide.new ? 'visibility_off' : 'visibility'}}</mat-icon>
                </span>
                <div>New Password</div>
            </div>
            <div class="filter-section">
                <span class="input">
                    <input matInput [type]="(hide.confirm) ? 'password' : 'text'" [(ngModel)]="password.confirm" (change)="checkValidity()">
                    <mat-icon (click)="hide.confirm = !hide.confirm">{{hide.confirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                </span>
                <div>Confirm Password</div>
            </div>
            <div class="filter-section">
                <mat-checkbox [(ngModel)]="autoLogin">Remember Me On This Computer</mat-checkbox>
            </div>
            <div class="filter-section">
                <button mat-raised-button color="primary" (click)="changePassword()" [disabled]="!!notValid">Update Password</button>
            </div>
        </div>
    </div>
</div>
